:root {
    --LnGrad1: hsl(249, 99%, 64%);
    --LnGrad2: hsl(278, 94%, 30%);
    --errorRed: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGreyishViolet: hsl(270, 3%, 87%);
    --veryDarkViolet: hsl(278, 68%, 11%);
    --pFontSize: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/* Quick Styles */

.grid { display: grid; }
.flex  { display: flex; }
.txt-a-center { text-align: center; }
.a-center { align-items: center; }
.j-center { justify-content: center; }
.width100 { width: 100%; }
.height100 { height: 100%; }
.w100v { width: 100vw; }
.h100v { height: 100vh; }
.absolute { position: absolute; }
.relative { position: relative; }

/* Common Styles */

body {
    max-width: 1440px;
    min-width: 320px;
    grid-template-areas:
    'main main'
    'attribution attribution';
}

main {
    grid-area: main;
    grid-template-areas:
    'card-block form-block'
    'card-block form-block';
}

.card-block {
    grid-area: card-block;
    grid-template-areas:
    'card-front'
    'card-back';
    grid-template-rows: 1fr 1fr;
}

.card-front {
    grid-area: card-front;
}

.card-back {
    grid-area: card-back;
}

.form-block {
    grid-area: form-block;
    grid-template-areas:'cardHolderDetails';
    grid-template-rows: auto;
    grid-template-columns: auto;
    background-color: var(--white);
    justify-content: center;
}

#cardHolderDetails {
    grid-area: cardHolderDetails;
    grid-template-areas:
    'pre-form'
    'post-form';
    grid-template-rows: 1fr 1fr;
    font-size: var(--pFontSize);
    justify-content: center;
    max-width: 385px;
}

.pre-form {
    grid-area: pre-form;
    grid-template-areas:
    'cardHolderBox cardHolderBox'
    'cardNumberBox cardNumberBox'
    'expDate_cvcBox expDate_cvcBox'
    'confirmBox confirmBox';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr;
    margin: 0 1rem 2rem;
}

.pre-form > div {
    padding-bottom: 1.2rem;
}

.pre-form div > label {
    font-size: 0.7em;
    letter-spacing: 2px;
    padding-bottom: 0.6rem;
}

.pre-form div > input, #cardDetailsReset {
    font-size: var(--pFontSize);
    padding: 0.7rem 1rem;
    outline: none;
    border: 1px solid var(--lightGreyishViolet);
    border-radius: 10px;
}

.cardHolderBox {
    grid-area: cardHolderBox;
    grid-template-areas:
    'LblCardHolder LblCardHolder'
    'cardHolder cardHolder';
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

.cardHolderBox label {
    grid-area: LblCardHolder;
}

#cardHolder {
    grid-area: cardHolder;
}

.cardNumberBox {
    grid-area: cardNumberBox;
    grid-template-areas:
    'LblCardNumber LblCardNumber'
    'cardNumber cardNumber';
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

.cardNumberBox label {
    grid-area: LblCardNumber;
}

#cardNumber {
    grid-area: cardNumber;
}

.expDate_cvcBox {
    grid-area: expDate_cvcBox;
    grid-template-areas:
    'LblExpDate LblExpDate LblCvc LblCvc'
    'expDateMM expDateYY cvc cvc';
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
}

.LblExpDate { grid-area: LblExpDate; }

#expDateMM {
    grid-area: expDateMM;
    width: 70px;
}

#expDateYY {
    grid-area: expDateYY;
    width: 70px;
}

.LblCvc { grid-area: LblCvc; }

#cvc {
    grid-area: cvc;
    width: 100%;
}

.confirmBox {
    grid-area: confirmBox;
    grid-template-areas:'confirm-btn';
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.confirmBox input {
    grid-area: confirm-btn;
    color: var(--white);
    background-color: var(--veryDarkViolet);
}

.post-form {
    grid-area: post-form;
    grid-template-areas:
    'formSuccessIcon formSuccessIcon'
    'postForm-h3 postForm-h3'
    'postForm-text postForm-text'
    'cardDetailsReset cardDetailsReset';
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 1rem 2rem;
}

.formSuccessIcon {
    grid-area: formSuccessIcon;
    justify-self: center;
    width: 80px;
    height: 80px;
    margin-bottom: 2rem;
}

.post-form h3 {
    grid-area: postForm-h3;
    justify-self: center;
    font-size: 1.7em;
    font-weight: inherit;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: var(--veryDarkViolet);
}

.post-form span {
    grid-area: postForm-text;
    justify-self: center;
    color: grey;
    margin-bottom: 3rem;
}

#cardDetailsReset {
    grid-area: cardDetailsReset;
    justify-self: center;
    color: var(--lightGreyishViolet);
    background-color: var(--veryDarkViolet);
    width: 100%;
}

/* Small Devices 600px and lower */

@media screen and (max-width: 600px) {

    main {
        grid-template-areas:
        'card-block card-block card-block card-block'
        'form-block form-block form-block form-block';
        grid-template-rows: auto auto;
        grid-template-columns: repeat(4, 1fr);
    }

    .card-block {
        grid-area: card-block;
        grid-template-areas:
        'card-back'
        'card-front';
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        margin-bottom: -20%;
        max-height: 530px;
        color: var(--lightGreyishViolet);
        background-image: url('/images/bg-main-mobile.png');
        background-size: 100% 100%;
    }

    .card-back {
        grid-area: card-back;
        position: relative;
        top: 25%;
        left: 20%;
    }

    .card-front {
        grid-area: card-front;
        position: relative;
        bottom: 19%;
        left: 5%;
    }

    .card-back, .card-front {
        max-width: 447px;
        max-height: 265px;
    }

    .card-back__img, .card-front__img {
        height: 100%;
        width: 75%;
    }

    #cvcOutput {
        font-size: 0.7em;
        right: 34%;
        top: 45%;
        letter-spacing: 1.5px;
    }

    .card-logo {
        top: 12%;
        left: 7%;
        width: 15%;
        height: 20%;
    }

    #cardNumberOutput {
        bottom: 33%;
        left: 6%;
        font-size: 120%;
        letter-spacing: 0.07em;
    }

    #cardHolderOutput {
        left: 6%;
        bottom: 13%;
        text-transform: uppercase;
        font-size: 70%;
        letter-spacing: 0.07em;
    }

    #ExpDateOutput {
        bottom: 13%;
        right: 30%;
        font-size: 70%;
        letter-spacing: 0.07em;
    }

    .form-block {
        padding-top: 25%;
    }

    #cardHolderDetails {
    grid-template-areas:
    'pre-form pre-form'
    'post-form post-form';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    }

}

/* Letter spacing */

@media screen and (min-width: 420px) and (max-width: 600px) {
    #cardNumberOutput, #cardHolderOutput, #ExpDateOutput { letter-spacing: 0.18em }
}

@media screen and (max-width: 360px) and (min-width: 330px) {
    #cardNumberOutput, #cardHolderOutput, #ExpDateOutput { letter-spacing: 0.02em; }
}

@media screen and (max-width: 329px) {
    #cardNumberOutput, #cardHolderOutput, #ExpDateOutput { letter-spacing: normal; }
}

/* Attribution */
.attribution { 
    font-size: 12px;
    grid-area: attribution;
}

.attribution a { color: hsl(228, 45%, 44%); }