:root {
    --LnGrad1: hsl(249, 99%, 64%);
    --LnGrad2: hsl(278, 94%, 30%);
    --errorRed: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGreyishViolet: hsl(270, 3%, 87%);
    --veryDarkViolet: hsl(278, 68%, 11%);
    --pFontSize: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearence: textfield;
}

/* Quick Styles */

.grid { display: grid; }
.flex  { display: flex; }
.txt-a-center { text-align: center; }
.a-center { align-items: center; }
.j-center { justify-content: center; }
.width100 { width: 100%; }
.height100 { height: 100%; }
.w100v { width: 100vw; }
.h-100v { height: 100vh; }

/* Common Styles */

body {
    max-width: 1440px;
    min-width: 280px;
}

.card-block {
    background: var(--veryDarkViolet) url(/images/bg-main-desktop.png) no-repeat;
}

.form-block {
    grid-area: form-block;
    grid-template-areas:'cardHolderDetails';
    grid-template-rows: auto;
    grid-template-columns: auto;
}

#cardHolderDetails {
    grid-area: cardHolderDetails;
    grid-template-areas:
    'pre-form pre-form'
    'post-form post-form';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.pre-form {
    grid-area: pre-form;
    grid-template-areas:
    'cardHolderBox cardHolderBox'
    'cardNumberBox cardNumberBox'
    'expDate_cvcBox expDate_cvcBox'
    'confirmBox confirmBox';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr;
}

.cardHolderBox {
    grid-area: cardHolderBox;
    grid-template-areas:
    'LblCardHolder LblCardHolder'
    'cardHolder cardHolder';
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

.cardHolderBox label {
    grid-area: LblCardHolder;
}

#cardHolder {
    grid-area: cardHolder;
}

.cardNumberBox {
    grid-area: cardNumberBox;
    grid-template-areas:
    'LblCardNumber LblCardNumber'
    'cardNumber cardNumber';
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
}

.cardNumberBox label {
    grid-area: LblCardNumber;
}

#cardNumber {
    grid-area: cardNumber;
}

.expDate_cvcBox {
    grid-area: expDate_cvcBox;
    grid-template-areas:
    'LblExpDate LblExpDate LblCvc LblCvc'
    'expDateMM expDateYY cvc cvc';
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
}

.LblExpDate { grid-area: LblExpDate; }

#expDateMM {
    grid-area: expDateMM;
    width: 70px;
}

#expDateYY {
    grid-area: expDateYY;
    width: 70px;
}

.LblCvc { grid-area: LblCvc; }

#cvc {
    grid-area: cvc;
    width: 100px;
}

.confirmBox {
    grid-area: confirmBox;
    grid-template-areas:'confirm-btn';
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.confirmBox input {
    grid-area: confirm-btn;
}

.post-form {
    grid-area: post-form;
    grid-template-areas:
    'formSuccessIcon'
    'postForm-h3'
    'postForm-text'
    'cardDetailsReset';
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
}

.formSuccessIcon { grid-area: formSuccessIcon; }
.postform h3 { grid-area: postForm-h3; }
.postform span { grid-area: postForm-text; }
#cardDetailsReset { grid-area: cardDetailsReset; }

/* Small Devices 600px and lower */

@media screen and (max-width: 600px) {
    body {
        grid-template-areas:
        'main main'
        'attribution attribution';
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }

    main {
        grid-area: main;
        grid-template-areas:
        'card-block card-block card-block card-block'
        'form-block form-block form-block form-block';
        grid-template-rows: auto auto;
        grid-template-columns: repeat(4, 1fr);
    }

    .card-block {
        grid-area: card-block;
        grid-template-areas:
        'card-back card-back'
        'card-front card-front';
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }

    .card-back-block {
        grid-area: card-back;
        grid-template-areas: 'cvcOutput';
        background: var(--white) url(/images/bg-card-back.png) no-repeat;
        max-width: 447px;
        max-height: 245px;
        min-width: 312.9px;
        min-height: 171.5px;
    }

    #cvcOutput {
        grid-area: cvcOutput;
    }

    .card-front-block {
        grid-area: card-front;
        grid-template-areas:
        'card-logo . . .'
        'cNumberOut cNumberOut . .'
        'cHolderOut cHolderOut . ExpDateOut';
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(4, 1fr);
        background: var(--LnGrad1) url(/images/bg-card-front.png) no-repeat;
        max-width: 447px;
        max-height: 245px;
        min-width: 312.9px;
        min-height: 171.5px;
    }

    .card-logo {
        grid-area: card-logo;
    }

    #cardNumberOutput {
        grid-area: cNumberOut;
    }

    #cardHolderOutput {
        grid-area: cHolderOut;
    }

    #ExpDateOutput {
        grid-area: ExpDateOut;
    }

}

/* Main Backgrounds */

@media screen and (max-width: 375px) {
    .card-block {
        background-image: url('/images/bg-main-mobile.png');
    }
}

@media screen and (min-width: 376px) and (max-width: 1440px) {
    .card-block {
        background-image: url('/images/bg-main-desktop');
    }
}

/* Attribution */
.attribution { 
    font-size: 12px;
    grid-area: attribution;
}
.attribution a { color: hsl(228, 45%, 44%); }